.card-2{
    margin-top: 40px;
    border: 4px solid blue;
    width: 60%;
    height: 300px;
}

.left-corner{
    border: 3px solid green;
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.right-corner{
    border: 3px solid green;
    width: 50%;
    height: 100%;
    display: inline-block;
}