/* color templates 
bottom - #2ab2af(darker) #28b8b4(darker)
text - #c0df34
top - #e5eff5 - #98a6bd */


html{
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

*, *:before, *:after{
    box-sizing: inherit;
}

h2,h4,p{
    margin: 0;
}

body{
    padding: 20px;
}

#card{
    width: 700px;
    height: 400px;
    /* used a box shadow generator to get shadow value */
    box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
    border-radius: 5px;
    overflow: hidden;
}

#top-section{
    width: 100%;
    height: 45%;
    padding: 20px;
}

#top-section h2{
    color: #2ab2af;
    margin-bottom: 20px;
}

#top-section h4{
    color: #c0df34;
    margin-bottom: 10px;
}

#top-section p{
    color: #98a6bd;
}

#bottom-section{
    width: 100%;
    height: 55%;
    color: white;
}

#bottom-left-section{
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;
    background-color: #2ab2af;
    padding: 20px;
}


#bottom-right-section{
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;
    background-color: #2cece6;
    padding: 20px;
}

#bottom-left-section h4{
    margin-bottom: 15px;
}

#price{
    font-weight: 700;
    font-size: 1.6rem;
}

button{
    color: white;
    background-color: #c0df34;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
}

#price, #price-frequency{
    display: inline-block;
}

#price-frequency{
    opacity: 0.3;
}

#price-container{
    margin-bottom: 10px;
}

#bottom-left-section p{
    margin-bottom: 30px;
    font-size: 0.9rem;
}

ul{
    padding: 0;
    
}