.card-1{
    width: 40%;
    height: 300px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
}

.top{
    height: 60%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 162, 255);
    overflow: hidden;
}

.bottom{
    height: 40%;
    width: 100%;
}

.top img{
    width: 50%;
}
