body{
    background-color: rgb(24, 24, 29);
}

.content, .side-bar{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.side-bar button{
    height: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    background-color: transparent;
    transition: 0.2s ease-in-out;
    color: rgb(134, 117, 60);
}

.side-bar button:hover{
    background-color: rgb(92, 90, 86);
}