/* selects all p elements that inherit directly from the main id
#main > p{
    color: green;
} */

/* tags are less specific than classes and ids */
/* padding refers to the space within the box  */
/* margin refers to the space out of the box */
/* border refers to the thickness of the box */
/* block elements do not occupy the same line as other elements and take the total width of the body*/
/* inline elements can share space or the same linewith other elements */
/* the various measurement units are percentage, em rem and pixels */
/* rem is font size relative to the root element size and em is relative to the element size being used */
body{
    margin: 0;
}

h4{
    margin: 0;
    padding-left: 20px;
    line-height: 50px;
}

.box1{
    background-color: aqua;
    color: white;
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
}

nav{
    background-color: navy;
    color: white;
    height: 50px;
    /* mostly used for positioning nav bars to stay while scrolling */
    position: fixed;
    width: 100%;
    top: 0;
}

.boxes{
    margin-top: 80px;
}

